body {
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  /*width: 100%;*/
}

h1 {
  color: white;
  margin-top: 50px;
  margin-bottom: 5px;
  display: inline-block;
}

/*img {
  max-width: 100%;
  object-fit: cover;
}*/
.col {
  height: 6 rem;
  padding: 3px;
  flex-grow: 1;
  flex-shrink: 1;
}

.card + h6 {
  text-align: center;
  margin-top: 10px;
  font-size: x-small;
}
