.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.nav-color {
  background: #040404;
}

.navbar-brand img {
  height: 3.09rem;
}

header {
  margin-left: 272px;
  background-color: #040404;
}

header i {
  font-size: 30px;
  color: white;
  margin: 10px;
}

footer {
  background-color: #282828;
  padding: 30px;
}

footer i {
  color: #b3b3b3;
  margin: 10px;
}
/***************video bar****************/
footer .fa-random:hover {
  color: #fff;
}

footer .fa-step-backward:hover {
  color: #fff;
}

footer .fa-play:hover {
  color: #fff;
  transform: scale(1.2);
}

footer .fa-step-forward:hover {
  color: #fff;
}

footer .fa-redo:hover {
  color: #fff;
}

footer .fa-list:hover {
  color: #fff;
}

footer .fa-desktop:hover {
  color: #fff;
}

footer .fa-volume-up:hover {
  color: #fff;
}
